html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
#users{
 flex-shrink: 0;
 width: 300px;
 height: 700px;
 margin: 0 10px;
}
#chat{
    flex-grow: 1;
    height: 700px;
    margin: 0 10px;
}

#replace{
    display: none;
    flex-direction: row;    
}

#listusers{
    background:gray;
    
    border: solid 1px rebeccapurple;
    width: 100%;
    height: 100%;

}

#messages{
    background:gray;
    height: 100%;
    
    border: solid 1px rebeccapurple;
    flex-grow: 1;

}

#send{
    background:gray;
    display: none;
    border: solid 1px rebeccapurple;
    width: 100%;
    height: 100px;
    margin-top: 100px;
    text-align: center;
    padding: 10px;
    
}

#login{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}